* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: url('../Images/Page/Ecommerce.jpg') center/cover, #333;
    height: 100vh;
}

header {
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

header button:hover {
    background: none;
    box-shadow: 0 0 10px black;
}

header h4 {
    color: black;
    font-size: 20px;
}

section.ProjetosEcommerce {
    width: 97vw;
    height: calc(100vh - 62px);
    margin-left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(5px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    justify-content: space-between;
    gap: 10px;
    overflow-y: auto;
    padding: 10px;
}

section.ProjetosEcommerce::-webkit-scrollbar {
    width: 0;
}

section.ProjetosEcommerce:hover::-webkit-scrollbar {
    width: 10px;
}

section.ProjetosEcommerce::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

section.ProjetosEcommerce .CardEcommerce {
    background: white;
    height: 210px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.ProjetosEcommerce .CardEcommerce:hover {
    background: none;
    box-shadow: 0 0 10px black;
}

section.ProjetosEcommerce .CardEcommerce img {
    width: 100%;
    height: 55%;
    border-radius: inherit;
}

section.ProjetosEcommerce .CardEcommerce h4 {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

section.ProjetosEcommerce .CardEcommerce nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 85px);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

section.ProjetosEcommerce .CardEcommerce nav button {
    padding: 7px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

section.ProjetosEcommerce .CardEcommerce nav button:hover {
    background: white;
    box-shadow: 0 0 10px black;
    color: black;
}

section.SobreProjetos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98vw;
    height: 97vh;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
    animation: scale-up-center 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5) translate(-50%, -50%);
        transform: scale(0.5) translate(-50%, -50%);
    }

    100% {
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5) translate(-50%, -50%);
        transform: scale(0.5) translate(-50%, -50%);
    }

    100% {
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
    }
}

section.SobreProjetos nav {
    width: 100%;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 97px 2fr;
}

section.SobreProjetos nav button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

section.SobreProjetos nav button:hover {
    background: none;
    box-shadow: 0 0 10px black;
}

section.SobreProjetos nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

section.SobreProjetos nav ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

section.SobreProjetos nav ul li:hover {
    background: black;
}

section.SobreProjetos .InsertInfoProject {
    width: 100%;
    height: calc(100% - 60px);
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px black;
    columns: white;
    display: flex;
}

section.SobreProjetos .InsertInfoProject .Left {
    width: 60%;
    height: 100%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

section.SobreProjetos .InsertInfoProject .Left .InsertImage {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section.SobreProjetos .InsertInfoProject .Left .InsertImage::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
    z-index: 1;
}

section.SobreProjetos .InsertInfoProject .Left .InsertImage img {
    width: 95%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    z-index: 2;
}

section.SobreProjetos .InsertInfoProject .Left .InsertImage img.ImgBack {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section.SobreProjetos .InsertInfoProject .Right {
    height: 100%;
    width: calc(100% - 60%);
    color: white;
    padding: 10px;
    line-height: 20px;
    font-weight: bold;
    font-size: 17px;
}
