* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --Bg-Image-Padrao: url('../Images/_.jpeg');
}
body {
    background: var(--Bg-Image-Padrao), #333;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}
section.TopMenuBanner {
    position: relative;
    height: 420px;
    width: 100vw;
    background: black;
    box-shadow: 0 8px 10px black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
}
section.TopMenuBanner header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px;
    z-index: 2;
}
section.TopMenuBanner header span {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
section.TopMenuBanner header span i#BtnOpenSocialMobile {display: none;}
section.TopMenuBanner header ul {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    background: #333;
    padding: 10px;
    border-radius: 15px;
}
section.TopMenuBanner header ul li {
    padding: 5px;
    border-radius: inherit;
}
section.TopMenuBanner header ul li:hover {
    cursor: pointer;
    color: black;
    background: white;
    box-shadow: 0 0 5px black;
}
section.TopMenuBanner header ul .IndicatoSession {
    position: absolute;
    bottom: 5px;
    left: 32px;
    width: 23px;
    height: 3px;
    background: white;
    border-radius: 10px;
    transition: .2s ease-in-out;
}
section.TopMenuBanner .ContainerSocial {
    position: absolute;
    background: white;
    z-index: 1;
    width: auto;
    height: 0;
    top: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    transition: .4s ease-in-out;
}
section.TopMenuBanner .ContainerSocial.Open {
    animation: OpenSocialContainer .2s ease-in-out;
    padding: 10px;
    height: auto;
}
@keyframes OpenSocialContainer {
    0% {
        padding: 0;
        height: 0;
    }
    100% {
        padding: 15px;
        height: auto;
    }
}
section.TopMenuBanner .ContainerSocial a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
section.TopMenuBanner .ContainerSocial a:hover {
    background: #333;
    color: white;
}
section.TopMenuBanner .ContainerSocial a img {
    width: 40px;
}
section.TopMenuBanner .BannerSlider {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
section.TopMenuBanner .BannerSlider .Left {
    width: 90%;
    height: 300px;  
    background: #333;
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.592);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 20px;
    font-weight: bold;
}
section.TopMenuBanner .BannerSlider .Left p {
    font-size: 30px;
    color: white;
}
section.TopMenuBanner .BannerSlider .Left section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.TopMenuBanner .BannerSlider .Left section h4 {
    color: white;
    font-weight: normal;
    width: 50%;
    line-height: 30px;
}
section.TopMenuBanner .BannerSlider .Left section div {
    padding: 10px;
    border-radius: 10px;
    background: #000;
    display: flex;
    align-items: center;
    gap: 10px;
}
section.TopMenuBanner .BannerSlider .Left section div button {
    background: none;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
section.TopMenuBanner .BannerSlider .Left section div button:hover {
    color: #333;
}
section.TopMenuBanner .BannerSlider .Right {
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
section.TopMenuBanner .BannerSlider .Right::-webkit-scrollbar {width: 0;}
section.TopMenuBanner .BannerSlider .Right .CardBannerProxImage {
    width: 100%;
    height: calc(100% / 4);
    background: #333;
    border-radius: 10px;
    cursor: pointer;
}
section.TemasProjetos {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 60px;
}
section.TemasProjetos .CardTemaProjetos {
    position: relative;
    width: 150px;
    height: 160px;
    background: black;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black,
                -4px -4px 10px white;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(255, 255, 255, 0.149));
    cursor: pointer;
}
section.TemasProjetos .CardTemaProjetos:hover {
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(255, 255, 255, 0.479));
}
section.TemasProjetos .CardTemaProjetos::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.551);
    border-radius: inherit;
}
section.TemasProjetos .CardTemaProjetos h4,
section.TemasProjetos .CardTemaProjetos button {
    position: absolute;
    z-index: 1;
}
section.TemasProjetos .CardTemaProjetos h4 {
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 17px;
}
section.TemasProjetos .CardTemaProjetos button {
    bottom: -20px;
    right: -10px;
    border: none;
    font-size: 17px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background: #333;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    overflow: hidden;
    transition: .2s ease-in-out;
}
section.TemasProjetos .CardTemaProjetos button:hover {
    border-radius: 15px;
    width: 105px;
}
section.TemasProjetos .CardTemaProjetos button a {
    font-weight: bold;
    transform: translateX(-80px);
    color: white;
    text-decoration: none;
}
section.TemasProjetos .CardTemaProjetos button:hover a {
    transform: translateX(10px);
}
section.TemasProjetos .CardTemaProjetos button i {
    transform: translateX(-52px);
    font-size: 20px;
    color: white;
}
section.TemasProjetos .CardTemaProjetos button:hover i {
    transform: translateX(15px);
}
section.MinhasTecnologias {
    margin-left: 50%;
    transform: translateX(-50%);
    background: #444;
    background-size: cover;
    background-position: center;
    width: 90vw;
    height: 500px;
    margin-top: 20px;
    border-radius: 10px;
}
section.MinhasTecnologias header {
    position: relative;
    width: 100%;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 40px;
    font-weight: bold;
}
section.MinhasTecnologias header::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 35px;
    height: 2px;
    width: 14.4%;
    background: white;
    opacity: .5;
    border-radius: 10px;
}
section.MinhasTecnologias section.PrintCardsMinhasTecnologias {
    width: 100%;
    display: flex;
    align-items: center;
}
section.MinhasTecnologias section.PrintCardsMinhasTecnologias section:nth-child(3) {
    margin-top: -200px;
}
section.MinhasTecnologias .PrintMinhasTecnologias {
    width: 90%;
    margin-left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.MinhasTecnologias .PrintMinhasTecnologias .CardMinhasTecnologias {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section.MinhasTecnologias .PrintMinhasTecnologias .CardMinhasTecnologias::after {
    position: absolute;
    content: '';
    background: white;
    width: 5px;
    height: 100px;
    border-radius: 10px;
    opacity: .5;
}
section.MinhasTecnologias .PrintMinhasTecnologias .CardMinhasTecnologias::before {
    position: absolute;
    content: '';
    left: 5px;
    top: 55px;
    width: 30px;
    height: 2px;
    background: white;
    opacity: .5;
    border-radius: 10px;
}
section.MinhasTecnologias .PrintMinhasTecnologias section h3 {
    font-size: 30px;
    color: white;
}
section.MinhasTecnologias .PrintMinhasTecnologias section .CardMinhasTecnologias img {
    width: 70px;
    margin-left: 40px;
    margin-top: 20px;
}
section.Projetos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    /*height: calc(100vh + 98%);*/
    height: 0px;
    background: var(--Bg-Image-Padrao), #333;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: .4s ease-in-out;
}
section.Projetos header {
    margin-top: 120px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 94vw;
    height: 30px;
    background: #333;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
section.Projetos header #Left {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}
section.Projetos header #Left input {
    padding: 5px;
    border: none;
    outline: none;
    width: 300px;
    border-radius: 10px;
    font-size: 17px;
}
section.Projetos header #Left input::placeholder {color: black;}
section.Projetos header i {
    font-size: 25px;
    color: white;
    cursor: pointer;
}
section.Projetos header i#BtnToggleGridProjetos {
    transform: rotate(90deg);
}
section.Projetos .PrintCardsProjetos {
    width: 100vw;
    height: 100%;
    padding: 20px 70px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
section.Projetos .PrintCardsProjetos .CardProjetos {
    width: calc(100% / 6.6);
    height: calc(100% / 4.8);
    background: #000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .4s ease-in-out;
}
section.Projetos .PrintCardsProjetos .CardProjetos.CardCollunm {
    position: relative;
    flex-direction: row;
    width: 100%;
    height: calc(100% / 7);
}
section.Projetos .PrintCardsProjetos .CardProjetos.CardCollunm img {
    margin-bottom: 0;
    width: 250px;
}
section.Projetos .PrintCardsProjetos .CardProjetos.CardCollunm h4 {
    margin: 20px;
    white-space: nowrap;
    font-size: 25px;
}
section.Projetos .PrintCardsProjetos .CardProjetos.CardCollunm nav {
    position: absolute;
    bottom: 20px;
    right: -80px;
    width: 200px;
}
section.Projetos .PrintCardsProjetos .CardProjetos img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
section.Projetos .PrintCardsProjetos .CardProjetos h4 {
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}
section.Projetos .PrintCardsProjetos .CardProjetos nav {
    width: 90%;
    padding: 5px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
}
section.Projetos .PrintCardsProjetos .CardProjetos nav button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    overflow: hidden;
}
section.Projetos .PrintCardsProjetos .CardProjetos nav button:hover {
    color: #333;
}
section.Projetos .PrintCardsProjetos .CardProjetos nav button::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 0%;
    background: rgba(0, 0, 0, 0.584);
    border-radius: 20px;
    transition: .2s ease-in-out;
}
section.Projetos .PrintCardsProjetos .CardProjetos nav button:hover::after {
    width: 100%;
}
