@media only screen and (max-width: 900px) {
    section.TopMenuBanner {
        height: 500px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    section.TopMenuBanner header span i#BtnOpenSocialMobile {
        display: block;
        color: white;
        font-size: 30px;
    }
    section.TopMenuBanner header span i#Itag,
    section.TopMenuBanner header span h4 {
        display: none;
    }
    section.BannerSlider {
        flex-wrap: wrap;
    }
    section.BannerSlider #PrintImageBanner {
        margin-top: -80px;
        width: 100%;
        height: 300px;
    }
    section.BannerSlider #PrintImageBanner section {
        display: none;
    }
    section.BannerSlider #PrintImageBanner section div {
        background: #333;
    }
    section.BannerSlider #Right {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }
    section.TemasProjetos {
        gap: 40px;
        padding-left: 20px;
        margin-top: 20px;
        overflow: scroll;
        scroll-snap-type: x mandatory;
    }
    section.TemasProjetos .CardTemaProjetos {
        flex: 0 0 calc(100% / 2);
        scroll-snap-align: center;
    }
    section.MinhasTecnologias {
        width: 100vw;
    }
    section.MinhasTecnologias header::after {
        width:47.5%;
    }
    section.MinhasTecnologias .PrintMinhasTecnologias section h3 {
        font-size: 15px;
        white-space: nowrap;
    }
    section.MinhasTecnologias section.PrintCardsMinhasTecnologias section:nth-child(2) {
        margin-top: -15px;
    }
    section.MinhasTecnologias section.PrintCardsMinhasTecnologias section:nth-child(3) {
        margin-top: -145px;
    }
    section.MinhasTecnologias .PrintMinhasTecnologias {
        margin-left: 190px;
        gap: 70px;
        overflow-x: auto;
    }
    section.MinhasTecnologias .PrintMinhasTecnologias section .CardMinhasTecnologias img {
        width: 40px;
    }
}
