.Left {
    width: 70%;
    padding: 40px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-position: center;
}
.BannerTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
.BannerDesc {
    font-size: 16px;
    max-width: 600px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    /*transform: translateY(-100px);*/
}
.Right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    padding: 10px;
}
.CardBannerProxImage {
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.CardBannerProxImage:hover {
    transform: scale(1.05);
}
.BannerSlider .Left section {
    transform: translate(87%, 110px);
}